*.iml
/SemiNuevosAI/clients_viewer/static/data/
/.idea/
*.sqlite3
/SemiNuevosAI/project/__pycache__/
/SemiNuevosAI/clients_viewer/migrations/__pycache__/
/SemiNuevosAI/clients_viewer/__pycache__/
/SemiNuevosAI/.~lock.data_clean.csv#
/SemiNuevosAI/clients_viewer/migrations/
